.table {
    .table-actions {
        visibility: hidden;
        position: absolute;
    }

    tr {
        position: relative;

        th, td {
            height: 48px;
            vertical-align: middle;
        }

        &:hover {
            .table-actions {
                display: flex;
                visibility: visible;
                right: 0;
                gap: 4px;

                .action {
                    display: flex;
                    font-size: 14px;
                    height: 24px;
                    width: 24px;
                    padding: 4px;
                    border-radius: 4px;

                    align-items: center;
                    justify-content: center;
                    background-color: var(--bs-warning-bg-subtle);
                    color: var(	--bs-warning);
                }
            }
        }
    }
}

